<extend name="Public/base"/>

<block name="body">

<style>
	body * {
		-webkit-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
	}

	.main .Warehouse table {
		border-collapse: collapse;
		width: 800px;
	}

	.main .Warehouse table td {
		border: 1px solid #90895D;
		padding: 8px 10px;
		text-align: center;
		font-size: 12px;
	}

	.main .Warehouse table td.item {
		text-align: left;
	}

	.main .Warehouse table td input[type=text] {
		border: 0;
		border-bottom: 1px solid blueviolet;
		outline: 0;
		width: 20px;
		padding: 5px 10px;
	}

	.main .Warehouse table th {
		background: #ddd;
		padding: 15px 0;
		text-align: center;
		border: 1px solid #90895D;
	}

	.main .Warehouse table td span {
		color: #888;
	}

	.main .Warehouse table td p {
		display: inline-flex;
		margin-left: 20px;
	}

	.main .Warehouse table td label {
		background: #90895D;
		padding: 5px 8px;
	}

	.main .Warehouse table td input[type=checkbox] {
		margin-right: 8px;
	}

	.main .Warehouse table td.divLine {
		height: 30px;
	}

	.queue {
		font-size: 0;
		-webkit-text-size-adjust: none;
		border: 1px solid #2db9c7;
		width: 800px;
		padding: 20px;
	}

	.dragger {
		display: inline-block;
		margin: 5px;
		padding: 8px;
		background: white;
		border: 1px solid #000000;
		border-radius: 20px;
		text-align: center;
		font-size: 10px;
		cursor: move;
	}

	#divAreas {
	}

	#divAreas p.areaTitle {
		margin: 30px 0 10px 0;
		font-size: 16px;
		font-weight: bold;
	}
</style>

<div class="main">
	<div class="Warehouse" id="body_content">
		<table>
			<tr>
				<th colspan="3" id="sub_info" data-name="{$sub_name}" data-id="{$sub_id}">分仓名：<a>{$sub_name}</a>
				</th>
			</tr>
			<tr>
				<td class="item" colspan="3">首重<span>（起始重量）：</span><input maxlength="3" type="text"
																		  class="start_weight" value="{$zone[0]['zone_value']['first_weight']}">千克<span>（Kg）</span>
				</td>
			</tr>
			<input type="hidden" data-max="<?php echo count($zone); ?>" class="max_zone"/>
			<volist name='zone' id='v'>
				<tr class="first_zone_{$i-1}" data-id="{$v.id}" data-name="{$v.zone_name}">
					<td>{$v.zone_name}</td>
					<td><input maxlength="3" type="text" name="first_fee" value="{$v.zone_value.first_fee_a}">元<span>（RMB）</span></td>
					<td><label>
                        <if condition="$v.zone_value.first_weight_b  lt 0 ">
                            <input type="checkbox" checked>设置二级标准
                            <else />
                            <input type="checkbox">设置二级标准
                        </if>
                        </label>
						<p>小于
							<input maxlength="3" type="text" name="added_weight" value="{$v.zone_value.first_weight_b}">千克（Kg），
							<input maxlength="3" type="text" name="added_fee" value="{$v.zone_value.first_fee_b}">元（RMB）</p></td>
				</tr>
			</volist>
			<tr>

		</table>
		<table>
			<tr>
				<td class="item" colspan="3">续重<span>（如果第二级重量资费标准不填，表示之后每1Kg资费多少钱）</span></td>
			</tr>
			<volist name='zone' id='v'>
				<tr class="second_zone_{$i-1}" data-id="{$v.id}" data-name="{$v.zone_name}">
					<td>{$v.zone_name}</td>
					<td><input maxlength="3" type="text" name="start_weight" value="{$v.zone_value.second_weight_start_a}">-<input maxlength="3" type="text"
																					 name="end_weight" value="{$v.zone_value.second_weight_end}">千克<span>（Kg）</span>，
						资费<input maxlength="3" type="text" name="first_fee" value="{$v.zone_value.second_fee_a}" >元<span>（RMB）</span></td>
					<td><label>
                        <if condition="$v.zone_value.second_weight_start_b  lt 0 ">
                            <input type="checkbox" checked>设置二级标准
                            <else />
                            <input type="checkbox">设置二级标准
                        </if>
                        </label>

						<p>续重<input maxlength="3" type="text" name="added_weight" value="{$v.zone_value.second_weight_start_b}">千克（Kg），
							资费<input maxlength="3" type="text" name="added_fee"  value="{$v.zone_value.second_fee_b}">元（RMB）</p></td>
				</tr>
			</volist>

		</table>

	</div>
	<div class="form-item" style="margin-top: 20px;margin-left: 30% ">
		<button class="btn submit-btn" id="submit">确 定</button>
		<button class="btn btn-return" onclick="javascript:history.back(-1);return false;">返 回</button>
	</div>

</div>
<script type="application/javascript">
	$(function(){
		var zone_max = $(".max_zone").data("max");
		if(zone_max == 0){
			$("#body_content").html("");
			var str = '<div style="font-size: 14;text-align: center;color: red;">请先编辑分区后再添加分区资费</div>';
			$("#body_content").html(str);
		}
	});
	$("#submit").on("click", function () {
		var sub_name = $("#sub_info").data("name");
		var sub_id = $("#sub_info").data("id");
		var zone_max = $(".max_zone").data("max");
		var start_weight = $(".start_weight").val();
		//var second_weight = $(".second_weight").val();
		var arr = new Array();
		for (var i = 0; i < zone_max; i++) {
			var json_str = {};
			var zone_id = $(".first_zone_" + i).data("id");
			var zone_name = $(".first_zone_" + i).data("name");
			json_str.zone_id = zone_id;
			json_str.zone_name = zone_name;
			json_str.first_weight_a = filter(start_weight);
			json_str.first_fee_a = filter($(".first_zone_" + i).find("input[name=first_fee]").val());
			json_str.first_weight_b = filter($(".first_zone_" + i).find("input[name=added_weight]").val());
			json_str.first_fee_b = filter($(".first_zone_" + i).find("input[name=added_fee]").val());
			json_str.second_weight_start_a = filter($(".second_zone_" + i).find("input[name=start_weight]").val());
			json_str.second_weight_end = filter($(".second_zone_" + i).find("input[name=end_weight]").val());
			json_str.second_fee_a = filter($(".second_zone_" + i).find("input[name=first_fee]").val());
			json_str.second_weight_start_b = filter($(".second_zone_" + i).find("input[name=added_weight]").val());
			json_str.second_fee_b = filter($(".second_zone_" + i).find("input[name=added_fee]").val());
			console.log(json_str);
			if (start_weight == 0 ) {
				confirm("首重或续重不能为空");
				return;
			}
			if (json_str.zone_id == null || json_str.zone_name == null) {
				confirm("分区名不能为空");
				return;
			}
			if (json_str.first_fee_a == 0) {
				confirm("分区首重资费不能为空");
				return;
			}
			if (json_str.second_weight_start_a == 0 || json_str.second_weight_end == 0 || json_str.second_fee_a == 0) {
				confirm("分区续重资费不能为空");
				return;
			}
			arr[i] = json_str;
		}
		var staple_arr = JSON.stringify(arr);
		$.ajax({
			type       : 'post',
			traditional: true,
			url        : "index.php?s=/Shipping/save_rule",
			data       : {sub_name: sub_name, sub_id: sub_id, staple_arr: staple_arr},
			success    : function (data) {
				if (data == 1) {
                    confirm("添加成功");
				} else if (data == 2) {
                    confirm("同一分仓不能重复添加规则！");
				} else {
                    confirm("发生未知错误");
				}
			}
		});
	});
	function filter(params) {
		params = typeof(params) == 'undefined' ? 0 : params;
		return params;
	}
</script>
</block>
