<extend name="Public/base"/>

<block name="body">

    <style>
        body *{
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }
        .main .Warehouse table{
            border-collapse: collapse;
            width: 800px;
        }
        .main .Warehouse table td{
            border: 1px solid #90895D;
            padding: 8px 10px;
            text-align: center;
            font-size: 12px;
        }
        .main .Warehouse table td.item{
            text-align: left;
        }
        .main .Warehouse table td input[type=text]{
            border: 0;
            border-bottom: 1px solid blueviolet;
            outline: 0;
            width: 20px;
            padding: 5px 10px;
        }
        .main .Warehouse table th{
            background: #ddd;
            padding: 15px 0;
            text-align: center;
            border: 1px solid #90895D;
        }
        .main .Warehouse table td span{
            color: #888;
        }
        .main .Warehouse table td p{
            display: inline-flex;
            margin-left: 20px;
        }
        .main .Warehouse table td label{
            background: #90895D;
            padding: 5px 8px;
        }
        .main .Warehouse table td input[type=checkbox]{
            margin-right: 8px;
        }
        .main .Warehouse table td.divLine{
            height: 30px;
        }


        .queue{
            font-size: 0;
            -webkit-text-size-adjust:none;
            border: 1px solid #2db9c7;
            width: 800px;
            padding: 20px;
        }

        .dragger{
            display: inline-block;
            margin: 5px;
            padding: 8px;
            background: white;
            border: 1px solid #000000;
            border-radius: 20px;
            text-align: center;
            font-size: 10px;
            cursor: move;
        }

        #divAreas{

        }

        #divAreas p.areaTitle{
            margin: 30px 0 10px 0;
            font-size: 16px;
            font-weight: bold;
        }
    </style>

<div class="main">
    <div class="Warehouse">
        <table>
            <tr><th colspan="3" id="sub_info" data-name="{$sub_name}" data-id="{$sub_id}">分仓名：<a>{$sub_name}</a></th></tr>
            <tr>
                <td class="item" colspan="3">首重<span>（起始重量）：</span><input maxlength="3" type="text">千克<span>（Kg）</span></td>
            </tr>
            <volist name='zone' id='v'>
                <tr>
                    <td>{$v.zone_name}</td>
                    <td><input maxlength="3" type="text">元<span>（RMB）</span></td>
                    <td><label><input type="checkbox">设置二级标准</label><p>小于<input maxlength="3" type="text">千克（Kg），<input maxlength="3" type="text">元（RMB）</p></td>
                </tr>
            </volist>
            <tr>

        </table>
        <table>
            <tr>
                <td class="item" colspan="3">续重<span>（如果第二级重量资费标准不填，表示之后每1Kg资费多少钱）：</span><input maxlength="3" type="text">千克<span>（Kg）</span></td>
            </tr>
            <volist name='zone' id='v'>
                <tr>
                    <td>{$v.zone_name}</td>
                    <td><input maxlength="3" type="text">-<input maxlength="3" type="text">千克<span>（Kg）</span>，资费<input maxlength="3" type="text">元<span>（RMB）</span></td>
                    <td><label><input type="checkbox">设置二级标准</label><p>续重<input maxlength="3" type="text">千克（Kg），资费<input maxlength="3" type="text">元（RMB）</p></td>
                </tr>
            </volist>

        </table>
    </div>


</div>
<script type="application/javascript">

</script>
</block>
