<extend name="Public/base"/>

<block name="body">


    <div class="data-table table-striped" >
        <div class="form-horizontal">
            <div class="form-item">
                <label class="item-label">分仓名：<span id="sub_store" data-id="{$sub_id}" data-name="{$sub_name}">
                    {$sub_name|default=''}</span></label>
            </div>
			<button class="btn submit-btn" id="add_zone" style="margin-left:50% " onclick="Account.add_zone()">添加分区</button>
                <div class="data-table table-striped" style="width: 65%">
                    <table>
                        <thead>
                        <tr>
                            <th width="300">省份</th>
                            <th width="700">选择分仓</th>
                        </tr>
                        </thead>
                        <tbody id="province_list">

                        </tbody>
                    </table>
            </div>


            <div class="form-item">
                <button class="btn submit-btn" id="submit" onclick="Account.submit_ajax()">确 定</button>
                <button class="btn btn-return" onclick="javascript:history.back(-1);return false;">返 回</button>
            </div>
        </div>
    </div>
</block>

<block name="script">
<script type="text/javascript">
    var max_zone = 0;
$(function(){
    Account.init();
});
var Account = {};

Account.init = function(){
    Account.get_zone_list();
}
Account.add_zone = function(){
	var store_id = $("#sub_store").data("id");
    var zoneArr = ["一区","二区","三区","四区","五区","六区","七区","八区","九区"];
    if(max_zone >= 8 ){
      alert("最多只能添加八个分区");return;
    }
    var zone_name = zoneArr[max_zone];

    if(confirm("是否确认添加"+zone_name)){
        $.ajax({
            url :"index.php?s=/Shipping/addZoneAjax",
            type:"post",
            data:{store_id:store_id,zone_name:zone_name},
            traditional :true,
            success:function(data){
                if(data == 1){
                    alert("添加分区成功");
                    window.location.reload();
                    return;
                }
            }
        });
    }
}
Account.get_zone_list = function(){
    var store_id = $("#sub_store").data("id");
    $.ajax({
        url :"index.php?s=/Shipping/getZoneList",
        type:"post",
        data:{store_id:store_id},
        traditional :true,
        success:function(data){
            if(data == 2){
                alert("分仓id不能为空");return;
            }
            data=eval("("+data+")");
            var str = "";
            if(!data['zone']){
                str = '<tr><td colspan="2" style="text-align: center">请先添加分区</td></tr>';
            }else{
                var zone = data['zone'];
                console.log(zone);
                for(var i=0; i < data['items'].length-1; i++){
                    data[i] = data['items'][i];
                    str +='<tr><td>'+data[i]["name"]+'</td><td>';
                    str += saveZone(data[i]["id"],data[i]["zone_id_n"],zone);
                    str +='</td></tr>';
                }
            }
            $("#province_list").html('');
            $("#province_list").html(str);
        }
    });
}
Account.submit_ajax = function(){
	var zone_one = "";
	var zone_two = "";
	var zone_three = "";
	var zone_four = "";
	var zone_five = "";
	var zone_six = "";
	var zone_seven = "";
	$("input[type=radio]:checked").each(function(){
		var province_id = $(this).data("province");
		switch ($(this).data("id")){
			case 1:
				zone_one += province_id+",";
				break;
			case 2:
				zone_two += province_id+",";
				break;
			case 3:
				zone_three += province_id+",";
				break;
			case 4:
				zone_four += province_id+",";
				break;
			case 5 :
				zone_five += province_id+",";
				break;
			case 6:
				zone_six += province_id+",";
				break;
			case 7:
				zone_seven += province_id+",";
				break;
		}
	});

    var store_id = $("#sub_store").data("id");

    $.ajax({
        url :"index.php?s=/Shipping/addZoneProvinceIds",
        type:"post",
        data:{store_id:store_id,zone_one:zone_one,zone_two:zone_two,zone_three:zone_three,zone_four:zone_four,zone_five:zone_five,
            zone_six:zone_six,zone_seven:zone_seven},
        traditional :true,
        success:function(data){
            if(data == 2){
                alert("分仓id不能为空");return;
            }
            if(data == 1){
                alert("编辑分区成功");
                return;
            }

        }
    });
}

 function saveZone(province_id,zone_id,zone){
  var str = "";
     max_zone = zone.length;
    for(var i =0;i<zone.length ;i++){
        if(zone_id == zone[i]['id']){
            str += '&nbsp;&nbsp;&nbsp;&nbsp;<input type="radio" data-province="'+province_id+'" data-id="'+ zone[i]["id"]+'" name="zone'+province_id+'" checked value="'+province_id+'" />'+zone[i]["zone_name"];
        }else{
            str += '&nbsp;&nbsp;&nbsp;&nbsp;<input type="radio" data-province="'+province_id+'" data-id="'+ zone[i]["id"]+'" name="zone'+province_id+'" value="'+province_id+'"/>'+zone[i]["zone_name"];
        }
    }
    return str;
}

Think.setValue("pid", {$info.pid|default = 0});
Think.setValue("hide", {$info.hide|default = 0});
Think.setValue("is_dev", {$info.is_dev|default = 0});
//导航高亮
highlight_subnav('{:U('index')}');
</script>
</block>