<extend name="Public/base"/>

<block name="body">
    <div class="main-title">
        <h2>邮费收费标准设置</h2>
    </div>
    <div class="cf">
        <div class="fl">
            <a class="btn" href="{:U('addOrUpdateProvince')}">添加省</a>


        </div>
    </div>
    <div style="margin-top:0.5rem;width: 100%;height: 2rem;background-color: #fffc59;border: 1px dotted #1115ff;line-height: 2rem">
        <b>备注：</b>单件最大不超过20公斤，长宽高单面不超过100CM
    </div>
    <div style="margin-top:0.5rem;width: 100%;">
        每月发单数不少于<input type="text" class="text input" id="set_rule" value="{$rule}" placeholder="请输入数量" style="width: 120px;border: 1px solid #000000" onchange="setRule()"/>使用标准二
    </div>
<style>
    tr th{border: 1px solid #fff;text-align: center !important;font-weight: bold !important;}
</style>
    <div class="data-table table-striped">
        <table>
            <thead>

            <tr style="border:1px solid #fff">
                <th width="80" rowspan="2">CODE</th>
                <th width="80" rowspan="2">省份（简称）</th>
                <th width="150" rowspan="2">省份全名</th>
                <th width="240" colspan="3" style="text-align: center">标准一</th>
                <th width="80" colspan="2" style="text-align: center">标准二</th>
                <th width="70" rowspan="2">操作</th>
            </tr>
            <tr style="border:1px solid red">
                <th width="80">起步(元/kg)</th>
                <th width="80">首重(元/kg)</th>
                <th width="80">续重(元/kg)</th>
                <th width="80">续重(元/kg)</th>
                <th width="80">续重(元/kg)</th>
            </tr>
            </thead>
            <tbody>
            <volist name="result" id="data">
            <tr class="show-input_{$data.id}">
                <td>{$data.zone_name}</td>
                <td>{$data.short_name}</td>
                <td>{$data.name}</td>

                <td><?php echo str_replace(".00","",$data['first_charge']); ?>/<?php echo str_replace(".00","",$data['first_weight']); ?></td>
                <td><?php echo str_replace(".00","",$data['second_charge']); ?>/<?php echo str_replace(".00","",$data['second_weight']); ?></td>
                <td><?php echo str_replace(".00","",$data['three_charge']); ?>/<?php echo str_replace(".00","",$data['three_weight']); ?></td>
                <td><?php echo str_replace(".00","",$data['first_charge_s']); ?>/<?php echo str_replace(".00","",$data['first_weight_s']); ?></td>
                <td><?php echo str_replace(".00","",$data['three_charge_s']); ?>/<?php echo str_replace(".00","",$data['three_weight_s']); ?></td>
                <td class="action">
                    <a class="db-import update-{$data.id}" onclick="updateData('{$data.id}')">修改</a>&nbsp;
                    <a class="db-import affirm-{$data.id}" style="display: none" onclick="affirm('{$data.id}')">确认修改</a>&nbsp;
                    <a  onclick="delRule('{$data.id}')">删除</a>
                </td>
            </tr>
            </volist>
            </tbody>
        </table>
    </div>
</block>

<block name="script">
    <script type="text/javascript">
        function setRule(){
            var rule = $("#set_rule").val();
            if( rule == "" ){
                alert("规则参数不能为空！");return;
            }
            $.post("index.php?s=/ReadWriteData/setRule",{rule:rule},function(data){
                if(data == 1){
                    alert("设置规则成功！");
                }else{
                    alert("发生未知错误请稍后再试！");
                }
            });
        }
        function delRule(id){
            if(confirm("您确定要删除这条记录吗？")){
            $.post("index.php?s=/ReadWriteData/delRule",{id:id},function(data){
                if(data == 1){
                    $(".show-input_"+id).remove();
                }else{
                    alert("发生未知错误请稍后再试！");
                }
            });
            }
        }
        function affirm(id){
            var code = $(".show-input_"+id).find("td").eq(0).find("input").val();
            var short_name = $(".show-input_"+id).find("td").eq(1).find("input").val();
            var name = $(".show-input_"+id).find("td").eq(2).find("input").val();
            var first = $(".show-input_"+id).find("td").eq(3).find("input").val();
            if(first == "/" || first == ""){
                alert("规则一起步费用规则不能为空");return;
            }
            var second = $(".show-input_"+id).find("td").eq(4).find("input").val();

            if(second == "/" || second == ""){
                alert("规则一首重费用规则不能为空");return;
            }

            var three = $(".show-input_"+id).find("td").eq(5).find("input").val();
            if(three == "/" || three == ""){
                alert("规则一续重费用规则不能为空");return;
            }
            var first_s = $(".show-input_"+id).find("td").eq(6).find("input").val();
            if(three == "/" || three == ""){
                alert("规则二首重费用规则不能为空");return;
            }
            var three_s = $(".show-input_"+id).find("td").eq(7).find("input").val();
            if(three == "/" || three == ""){
                alert("规则二续重费用规则不能为空");return;
            }
            $.ajax({
             url: "index.php?s=/ReadWriteData/updateRule",
             type: "POST",
             data: { id :id , code: code, short_name: short_name, name: name, first: first, second: second, three: three,first_s:first_s ,three_s:three_s},
             dataType: "json",
             success: function (data) {
             // 此处放成功后执行的代码
                 if(data == 1){
                     window.location.reload();
                 }else{
                   alert("发生未知错误请稍后再试！");
                 }
             }
             });
        }
         function updateData(id){
             var length = $(".show-input_"+id).find("td").length;
             var i = 0;
             $(".show-input_"+id).find("td").each(function(){
                 i++;
                 if(i == length){
                     $(".update-"+id).hide();
                     $(".affirm-"+id).show();
                     return;
                 }
                 var val = $(this).text();
                 var str = '<input type="text" value="'+ val +'" style="width:100%;text-align:center"/>';
                 $(this).html(str);
             });

         }
        //导航高亮
        highlight_subnav('{:U('
        AuthManager / index
        ')}'
        )
        ;
    </script>
</block>
