<extend name="Public/base"/>

<block name="body">
    <div class="main-title">
        <h2>更新省份</h2>
    </div>
    <form action="{:U('saveProvince')}" method="post"  class="form-horizontal">
        <div class="form-item">
            <label class="item-label">CODE<span class="check-tips">（唯一标识省）</span></label>
            <div class="controls">
                <input type="text" class="text input" name="code" value="">
            </div>
        </div>
        <div class="form-item">
            <label class="item-label">省份名<span class="check-tips">（简称）</span></label>
            <div class="controls">
                <input type="text" class="text input-large" name="small_name" value="">
            </div>
        </div>
        <div class="form-item">
            <label class="item-label">省份名<span class="check-tips">（全名）</span></label>
            <div class="controls">
                <input type="text" class="text input-large" name="long_name" value="">
            </div>
        </div>
        <div class="form-item">
            <label class="item-label"></label>
            <div class="controls">
                <button type="submit" class="btn submit-btn" target-form="form-horizontal">确 定</button>
                <button class="btn btn-return" onclick="window.location.href = 'index.php?s=/ReadWriteData/configure';return false;">返 回</button>
            </div>
        </div>
    </form>
</block>

<block name="script">
    <script type="text/javascript">

        //导航高亮
        highlight_subnav('{:U('AuthManager/index')}');
    </script>
</block>
