<extend name="Public/base"/>

<block name="body">
	<!-- 标题栏 -->
	<div class="main-title">
		<h2>收寄数据总览</h2>
	</div>
    <div class="cf">
        <div class="fl">

			收寄日期：
			<input type="text" name="start_time" class="text input time" value="{$param.start_time}" placeholder="请选择时间" style="width: 150px"/>
			<input type="text" name="end_time" class="text input time" value="{$param.end_time}" placeholder="请选择时间" style="width: 150px" />

            <input type="text" name="customer_name" class="text input" value="{$param.customer_name}" placeholder="请输入客户名" style="width: 150px;margin-left:30px " />
            <button class="btn" id="search" url="{:U('ReadData')}">查询</button>
			<button class="btn" onClick="originalExport()">导出Excel</button>
        </div>
    </div>
    <div class="data-table table-striped">
        <table>
            <thead>
            <tr class="head_name">
                <th width="30" >ID</th>
                <th width="60">收寄日期</th>
                <th width="60">大宗客户代码</th>
                <th width="60">大宗客户</th>
                <th width="60">分仓</th>
                <th width="80">邮件号码</th>
               <!-- <th width="100">机构</th>-->
                <th width="60">寄达省</th>
                <th width="60">寄达市</th>
                <th width="40">重量（克）</th>
                <th width="40">总邮资（元）</th>
                <th width="40">结算资费</th>
                <th width="40">资费差额</th>
               <!-- <th width="60">团队名</th>
                <th width="60">仓库管理员</th>-->

            </tr>
            </thead>
            <tbody >
            <volist name="result" id="vo">
                <tr >
                    <td>{$vo.id}</td>
                    <td>{$vo.in_out_date|substr=0,10}</td>

                    <td>{$vo.customer_code}</td>
                    <td>{$vo.customer_name}</td>
                    <td>{$vo.sub_store}</td>
                    <td>{$vo.express_number}</td>
                   <!-- <td>{$vo.in_out_org_name|substr=0,24}...</td>-->
                    <td>{$vo.send_province}</td>
                    <td>{$vo.send_city}</td>
                    <td>{$vo.weight}</td>
                    <td>{$vo.post_money}</td>
                    <td>{$vo.balancing}</td>
                    <td>{$vo.gap_money}</td>
                   <!-- <td>{$vo.team_name}</td>
                    <td>{$vo.team_member_name}</td>-->

                </tr>
            </volist>
            </tbody>

        </table>
        <div class="page">
            {$_page}
        </div>
    </div>

</block>

<block name="script">

	<link href="__STATIC__/datetimepicker/css/datetimepicker.css" rel="stylesheet" type="text/css">
	<php>if(C('COLOR_STYLE')=='blue_color') echo '<link href="__STATIC__/datetimepicker/css/datetimepicker_blue.css" rel="stylesheet" type="text/css">';</php>
	<link href="__STATIC__/datetimepicker/css/dropdown.css" rel="stylesheet" type="text/css">
	<script type="text/javascript" src="__STATIC__/datetimepicker/js/bootstrap-datetimepicker.min.js"></script>
	<script type="text/javascript" src="__STATIC__/datetimepicker/js/locales/bootstrap-datetimepicker.zh-CN.js" charset="UTF-8"></script>
    <script type="text/javascript">

        $("#search").click(function(){
            var url = $(this).attr('url');
            url = url.replace(".html",'');
            var start_time = $("input[name=start_time]").val();
            var end_time = $("input[name=end_time]").val();
            if(start_time == ""){
                alert("请选开始时间！");return;
            }
            if(end_time == ""){
                alert("请选择结束时间！");return;
            }
            if(start_time > end_time){
                alert("开始时间不能大于结束时间！");return;
            }
            var customer_name = $("input[name=customer_name]").val();
            url += '/start_time/' + start_time +'/end_time/'+end_time +'/customer_name/'+customer_name;
            window.location.href = url;
        });

		$(function(){
			$('.time').datetimepicker({
				format: 'yyyy-mm-dd',
				language:"zh-CN",
				minView:2,
				autoclose:true
			});
			showTab();
		});

		function originalExport(){
			var start_time = $("input[name=start_time]").val();
			var end_time = $("input[name=end_time]").val();
			if(start_time == ""){
				alert("请选开始时间！");return;
			}
			if(end_time == ""){
				alert("请选择结束时间！");return;
			}
			if(start_time > end_time){
				alert("开始时间不能大于结束时间！");return;
			}
            var customer_name = $("input[name=customer_name]").val();
			window.location.href = "index.php?s=/Excel/originalExport/start_time/"+ start_time +"/end_time/"+end_time+"/customer_name/"+customer_name;
		}
    </script>

</block>