<extend name="Public/base"/>

<block name="body">
	<!-- 标题栏 -->
	<div class="main-title">
		<h2>收寄数据总览</h2>
	</div>
    <div class="cf">
        <div class="fl">

			导出资费明细：
			<input type="text" name="start_time" class="text input time" value="" placeholder="请选择时间" />
			<input type="text" name="end_time" class="text input time" value="" placeholder="请选择时间" />
			<button class="btn" onClick="originalExport()" style="width: 100%">导出Excel</button><br/>

            <label class="item-label">显示：<span class="check-tips"></span></label>

            <select id="task_stuts" name="task_stuts" style="width:120px">
                    <option value="1"  <?php if( $stuts == 1)echo 'selected'; else echo ''; ?>>按天数统计</option>
                    <option value="2"  <?php if( $stuts == 2)echo 'selected'; else echo ''; ?>>按顾客统计</option>
            </select>
        </div>
    </div>
    <div style="margin-top:0.5rem;width: 100%;height: 1.5rem;background-color: #fffc59;border: 1px dotted #1115ff">
        <b>说明：</b>最多显示50条记录，需要查看更多请导出excel。
    </div>
    <style>
        .nav-select tr{ cursor: pointer}
    </style>

	<div class="data-table table-striped" style="width: 10%;float: left">
		<table>
			<thead>
			<tr>
				<th width="100%">月份</th>
			</tr>
			</thead>
			<tbody  class="nav-select">
			<volist name="result" id="vo">
				<tr>
					<td >{$vo.month}</td>
				</tr>
			</volist>
			</tbody>
		</table>
	</div>
    <div class="data-table table-striped" style="width: 60%;float: left;margin-left:5%">
        <table>
            <thead>
            <tr class="head_name">
                <th width="50" >ID</th>
                <th width="100">收寄日期</th>
                <th width="60">包裹数量</th>
                <th width="60">系统资费</th>
                <th width="60">实际资费</th>
                <th width="60">资费差额</th>
            </tr>
            </thead>
            <tbody id="count_list">
            <tr >
                <td colspan='6' style='text-align: center;color:green'>请选择左边的月份！</td>
            </tr>
            </tbody>
        </table>
    </div>
    <div style="width: 10%;float: left;margin-left:5%;margin-top:3.5rem">
        <button class="btn" onClick="exportExcel()" style="width: 100%">导出Excel</button>

    </div>


</block>

<block name="script">

	<link href="__STATIC__/datetimepicker/css/datetimepicker.css" rel="stylesheet" type="text/css">
	<php>if(C('COLOR_STYLE')=='blue_color') echo '<link href="__STATIC__/datetimepicker/css/datetimepicker_blue.css" rel="stylesheet" type="text/css">';</php>
	<link href="__STATIC__/datetimepicker/css/dropdown.css" rel="stylesheet" type="text/css">
	<script type="text/javascript" src="__STATIC__/datetimepicker/js/bootstrap-datetimepicker.min.js"></script>
	<script type="text/javascript" src="__STATIC__/datetimepicker/js/locales/bootstrap-datetimepicker.zh-CN.js" charset="UTF-8"></script>
    <script type="text/javascript">
		$(function(){
			$('.time').datetimepicker({
				format: 'yyyy-mm-dd',
				language:"zh-CN",
				minView:2,
				autoclose:true
			});
			showTab();
		});

		function originalExport(){
			var start_time = $("input[name=start_time]").val();
			var end_time = $("input[name=end_time]").val();
			if(start_time == ""){
				alert("请选开始时间！");return;
			}
			if(end_time == ""){
				alert("请选择结束时间！");return;
			}
			if(start_time > end_time){
				alert("开始时间不能大于结束时间！");return;
			}
			window.location.href = "index.php?s=/Excel/originalExport/start_time/"+ start_time +"/end_time/"+end_time;
		}
        var month;
        function exportExcel(){
            var type = $("#task_stuts").find("option:selected").val();
            if(month == ""){
                alert("请选择导出的月份！");return;
            }
            if(!type){
                alert("请选择导出类型！");return;
            }
            window.location.href = "index.php?s=/Excel/exportExcel/month/"+ month +"/type/"+type;
        }
      $(".nav-select > tr").on("click",function(){
          $(".nav-select > tr").each(function(){
              $(this).css("background-color","");
            });
            $(this).css("background-color"," rgba(185, 255, 236, 0.99)");
           month = $(this).find("td").html();
          var type = $("#task_stuts").find("option:selected").val();

          $.post("index.php?s=/ReadWriteData/getSendCount.html",{month : month , type : type},function(data){
              data = eval("("+ data +")");
              if(data){
                  var str = "";
                      for(var i = 0 ; i < data.length ; i++){
                          if(type == 1){
                              $(".head_name").find("th").eq(1).html("收寄日期");
                                data[i].in_out_date = data[i].in_out_date.replace("00:00:00","");
                                str += '<tr><td>' + data[i].id + '</td><td>' + data[i].in_out_date + '</td><td>' + data[i].num + '</td>' +
                                  '<td>' + data[i].post_money + '</td><td>' + data[i].balancing + '</td><td>' + data[i].gap_money + '</td></tr>';
                          }else{
                               $(".head_name").find("th").eq(1).html("顾客");
                              str += '<tr><td>' + data[i].id + '</td><td>' + data[i].customer_name + '</td><td>' + data[i].num + '</td>' +
                                      '<td>' + data[i].post_money + '</td><td>' + data[i].balancing + '</td><td>' + data[i].gap_money + '</td></tr>';
                          }
                      }
                      $("#count_list").html(str);
              }else{
                  $("#count_list").html("<tr ><td colspan='6' style='text-align: center;color:red'>没有找到记录！</td></tr>");
              }


          });
      });

    </script>

</block>