<extend name="Public/base"/>

<block name="body">
	<div class="main-title">
		<h2>分仓配置</h2>
	</div>
	<div style="width:35%;float:right;border:1px solid rgba(255, 251, 129, 0.49);height: 500px;background: rgba(248, 255, 220, 0.29);margin-right:5%;margin-top: 1rem  ">
        <div id="add_sub_store" style="display: none">
         <label style="font-weight: bold;font-size: 20px;display: block;">添加分仓:</label>
            <div class="controls">
               分仓名： <input type="text" class="text input" name="store_name" value="" autocomplete="off">
            </div>
            <button type="button" class="btn add_store" style="margin-top:1rem" >添 加</button>
        </div>
        <style>
            .member_list div{
                height:40px;width:120px;display: inline-block;padding: 10px 0;
            }
        </style>
        <div id="band_member"  style="display: none" >
            选择下面的会员绑定到 <span class="sub_store" style="color: red;"></span> 分仓<br>
            <input type="hidden" id="sub_store_id" value=""/>
            <div class="member_list">
                <div >加载中...</div>
            </div>
            <button type="button" class="btn" style="margin-top:1rem" onclick="band()">绑 定</button>
        </div>
	</div>

    <input class="group_id" type="hidden" value="{$group_id}"/>
	<div class="data-table table-striped" style="width: 55%">
		<table>
			<thead>
			<tr>
				<th width="50">ID</th>
				<th width="120">分仓名</th>
				<th width="120">仓管员</th>
				<th width="50">状态</th>
				<th width="200">操作</th>
			</tr>
			</thead>
			<tbody>
			<volist name="result" id="vo">
				<tr class="show-input_{$vo.id}">
					<td>{$vo.id}</td>
					<td>{$vo.sub_store_name}</td>
					<td><input type="hidden" id="uid" value="{$vo.uid}" />{$vo.nickname}</td>
					<td>
						<switch name="vo.status">
							<case value="0">
								正常
							</case>
							<case value="1">
								删除
							</case>
						</switch></td>
					<td class="action">
						<a  onclick="add_store()">添加分仓</a>
						<a  onclick="delSubStore('{$vo.id}')" >删除</a>
						<a  onclick="bandMember(this)">调配仓管</a>
					</td>
				</tr>
			</volist>
			</tbody>
		</table>
	</div>
</block>

<block name="script">
	<script type="text/javascript">
        function delSubStore(id){
            if(confirm("是否删除此分仓！")){
            $.post("/admin.php/ReadWriteData/delSubStore",{store_id : id},function(data){
                if(data == 1){
                    $(".show-input_"+id).remove();
                }
            });
            }
        }
        function add_store(){
            $("#add_sub_store").show();
            $("#band_member").hide();
        }
        $(".add_store").on("click",function(){
            var store_name = $("input[name=store_name]").val();
            var group_id = $(".group_id").val();
            if(store_name == ""){
               alert("请输入分仓名！");return;
            }
            $.post("/admin.php/ReadWriteData/addSubStore",{store_name : store_name,group_id:group_id},function(data){
                if(data == 1){
                    window.location.reload();
                }
            });
        });
        function band(){
            var selectVal = $('input[name="member"]:checked ').val();
            var sub_id =  $("#sub_store_id").val();

            $.post("/admin.php/ReadWriteData/band",{selectVal : selectVal,sub_id:sub_id},function(data){
                if(data == 1){
                    window.location.reload();
                }
            });
        }
        function bandMember(obj){
            $("#band_member").show();
            $("#add_sub_store").hide();
            var sub_id = $(obj).parents("tr").find("td").eq(0).html();
            var sub_name = $(obj).parents("tr").find("td").eq(1).html();
            $(".sub_store").html(sub_name);
            $("#sub_store_id").val(sub_id);
            var group_id = $(".group_id").val();
            $.post("/admin.php/ReadWriteData/getMember",{group_id : group_id},function(data){
                if(!data){
                    alert("没有找到仓管员！");return;
                }
                data = eval("(" + data + ")");
                var str = '';
                for(var i = 0; i < data.length ;i++){
                    str += '<div > <input type="radio" name="member" value="'+data[i]['uid']+'" />'+data[i]['nickname']+'</div>';
                }
                $(".member_list").html(str);
            });
        }
		function delRule(id){
			if(confirm("您确定要删除这条记录吗？")){
				$.post("/admin.php/ReadWriteData/delRule",{id:id},function(data){
					if(data == 1){
						$(".show-input_"+id).remove();
					}else{
						alert("发生未知错误请稍后再试！");
					}
				});
			}
		}

		//导航高亮
		highlight_subnav('{:U('
		AuthManager / index
		')}'
		)
		;
	</script>
</block>
