<extend name="Public/base"/>

<block name="body">
	<!-- 标题栏 -->
	<div class="main-title">
		<h2>数据导入</h2>
	</div>
	<!-- /标题栏 -->

	<!-- 应用列表 -->
    <div style="margin-top:0.5rem;width: 100%;">
        <span style="color:#ff0507">请设置计算日：</span><input type="text" class="text input" id="set_date" value="{$rule}" placeholder="请输入数字1-15"
                       style="width: 120px;border: 1px solid #000000" onchange="setRule()"/>
        <span class="check-tips" >（默认为每月5号）</span>
    </div>
	<form action="{:U('/Excel/importExp')}" method="post" enctype="multipart/form-data"  class="form-horizontal">
			<!--<div class="form-item">
				<label class="item-label">请选择库<span class="check-tips">（注意：选错库会导致数据导入失败）</span></label>
				<div class="controls">
					<select name="table_name" >
                        <option value="0">请选择库</option>
						<volist name="result" id="vo">
							<option value="{$key}">{$vo}</option>
						</volist>
					</select>
				</div>
			</div>
        <if condition="sub_store_list neq null ">
            <div class="form-item">
                <label class="item-label">请选地域组<span class="check-tips">（注意：数据会导入到相应的地域，请注意仔细确认！）</span></label>
                <div class="controls">
                    <select name="sub_store">
                        <volist name="sub_store_list" id="vo">
                            <option value="{$vo.id}">{$vo.title}</option>
                        </volist>
                    </select>
                </div>
            </div>
        </if>-->

		<div class="form-item">
			<label class="item-label">选择Excel文件<span class="check-tips">（注意：Excel必须严格按照模版规则）</span></label>
			<div class="controls">

				<input id="doc-form-file" type="file" name="excel"  multiple>
			</div>
		</div>
		<div class="form-item">
			<label class="item-label"></label>
			<div class="controls">
				<button type="submit" class="btn submit-btn" target-form="form-horizontal">上 传</button>
				<button class="btn btn-return" onclick="javascript:history.back(-1);return false;">返 回</button>
			</div>
		</div>
	</form>

    <div id="model1" style="display: none">
      <div></div>
    </div>

	<!-- /应用列表 -->
</block>
<block name="script">
    <script type="text/javascript">
        function setRule(){
            var rule = $("#set_date").val();
            if( rule == "" || rule <= 0 || rule > 15 ){

                alert("设置计算归则格式不正确！");return;
            }
            $.post("index.php?s=/ReadWriteData/setCountData",{rule:rule},function(data){
                if(data == 1){
                    alert("设置规则成功！");
                }else{
                    alert("发生未知错误请稍后再试！");
                }
            });
        }


        setTimeout("run()",3000);
        function run(){
            $.post("index.php?s=/Excel/ajaxPlan",{},function(data){
                data = eval("("+ data +")");
                if( data.count > 0 ){
                    $("#model1").show();
                    $("#model1").find("div").html(data.run_row);
                }else if( data.count > 0 && data.count == data.run_row){
                    alert("上传完成！");
                }
            });
        }
    </script>


</block>
