<extend name="Public/base" />

<block name="body">
	<!-- 标题栏 -->
	<div class="main-title">
		<h2>用户列表</h2>
	</div>
	<div class="cf">
		<div class="fl">
            <a class="btn" href="{:U('add')}">新 增</a>
            <button class="btn ajax-post" url="{:U('changeStatus?method=resumeUser')}" target-form="ids">启 用</button>
            <button class="btn ajax-post" url="{:U('changeStatus?method=forbidUser')}" target-form="ids">禁 用</button>
            <button class="btn ajax-post confirm" url="{:U('changeStatus?method=deleteUser')}" target-form="ids">删 除</button>
            <label class="item-label">只显示：<span class="check-tips"></span></label>

            <select id="task_stuts" name="task_stuts" style="width:120px" onchange="income()">
                <option value="0" <?php if($stuts==0) echo 'selected'; ?>>所有区域...</option>
                <volist name="department" id="vo">
                    <option value="{$vo.id}"  <?php if($stuts==$vo['id'])echo 'selected'; else echo ''; ?>>{$vo.title}</option>

                </volist>
            </select>
        </div>

        <!-- 高级搜索 -->
		<div class="search-form fr cf">
			<div class="sleft">
				<input type="text" name="nickname" class="search-input" value="{:I('nickname')}" placeholder="请输入用户昵称或者ID">
				<a class="sch-btn" href="javascript:;" id="search" url="{:U('index')}"><i class="btn-search"></i></a>
			</div>
		</div>
    </div>
    <div style="margin-top:0.5rem;width: 100%;height: 3.5rem;background-color: #fffc59;border: 1px dotted #1115ff">
        <b>注意事项：</b>1.表格最上面浅绿色是各区域的管理员。<br/>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        2.变更区域管理员点击操作栏的授权去更改。
    </div>
    <!-- 数据列表 -->
    <div class="data-table table-striped">
	<table class="">
    <thead>
        <tr>
		<th class="row-selected row-selected"><input class="check-all" type="checkbox"/></th>
		<th class="">UID</th>
		<th class="">昵称</th>
        <th class="">性别</th>
        <th class="">手机号码</th>
        <th class="">所属区域</th>

		<th class="">注册时间</th>
		<th class="">状态</th>
		<th class="">操作</th>
		</tr>
    </thead>
    <tbody>
		<notempty name="_list">
		<volist name="_list" id="vo">
		<tr <?php if($vo['position'] == 1) echo 'style="background-color:rgba(206, 255, 89, 0.36)"'; ?>  >
            <td><input class="ids" type="checkbox" name="id[]" value="{$vo.uid}" /></td>
			<td>{$vo.uid} </td>
			<td><a href="{:U('User/recomposeMember?uid='.$vo['uid'])}">{$vo.nickname}</a></td>
            <td><switch name="vo.sex">
                <case value="1">
                    男
                </case>
                <case value="2">
                    女
                </case>
            </switch></td>
            <td>{$vo.phone}</td>
			<td>{$vo.area}</td>
			<td><span>{$vo.reg_time|time_format}</span></td>
			<td>{$vo.status_text}</td>
			<td><eq name="vo.status" value="1">
				<a href="{:U('User/changeStatus?method=forbidUser&id='.$vo['uid'])}" class="ajax-get">禁用</a>
				<else/>
				<a href="{:U('User/changeStatus?method=resumeUser&id='.$vo['uid'])}" class="ajax-get">启用</a>
				</eq>
				<a href="{:U('AuthManager/group?uid='.$vo['uid'])}" class="authorize">授权</a>
                <a href="{:U('User/changeStatus?method=deleteUser&id='.$vo['uid'])}" class="confirm ajax-get">删除</a>
                </td>
		</tr>
		</volist>
		<else/>
		<td colspan="9" class="text-center"> aOh! 暂时还没有内容! </td>
		</notempty>
	</tbody>

    </table>
        <div>
           <label style="font-weight: bold;color: rgba(13, 9, 10, 0.42);font-size: 14px">变更到：</label>
            <select  id="group_ids" style="width:120px" >
                <option value="0">请选择区域</option>
                <volist name="department" id="vo">
                    <option value="{$vo.id}">{$vo.title}</option>

                </volist>
            </select>
            <button class="btn" style="background-color: red !important;" onclick="moveMember()">确 定</button>
        </div>
	</div>
    <div class="page">
        {$_page}
    </div>
</block>

<block name="script">
	<script src="__STATIC__/thinkbox/jquery.thinkbox.js"></script>

	<script type="text/javascript">
        function moveMember(){
            var selectGroup = $('#group_ids option:selected') .val();
            if( selectGroup == 0 ){
                alert("请选择分组");return;
            }
            var ids = '';
            $(".ids").each(function(){

                if(this.checked == true ){
                   ids +=  $(this).val() + ',';
                }
            });
            if(ids == ""){
               alert("请选择成员");return;
            }
            $.post("/index.php/User/addGroupMember",{group:selectGroup,ids:ids},function(data){
                data = eval("(" + data + ")");
                if( data == ""){
                    window.location.reload();
                }else{
                    alert("会员编号：" + data + "修改失败，请检查是否为地区管理！");
                    window.location.reload();
                }

            });

        }

        function income(){
            var url=$("#search").attr('url');
            var stuts =$("#task_stuts  option:selected").val();
            if( url.indexOf('?')>0 ){
                url+='&stuts='+stuts;
            }else{
                url+='?stuts='+stuts;
            }
            window.location.href = url;
        }
	//搜索功能
	$("#search").click(function(){
		var url = $(this).attr('url');
        var query  = $('.search-form').find('input').serialize();
        query = query.replace(/(&|^)(\w*?\d*?\-*?_*?)*?=?((?=&)|(?=$))/g,'');
        query = query.replace(/^&/g,'');
        if( url.indexOf('?')>0 ){
            url += '&' + query;
        }else{
            url += '?' + query;
        }
		window.location.href = url;
	});
	//回车搜索
	$(".search-input").keyup(function(e){
		if(e.keyCode === 13){
			$("#search").click();
			return false;
		}
	});
    //导航高亮
    highlight_subnav('{:U('User/index')}');
	</script>
</block>
